:root {
   --dark: #16191c;
   --dark-x: #1e2126;
   --light: #ffffff;
}
.bg-dark {background-color: var(--dark) !important;}
body {
   color: whitesmoke;
   font-size: 1.04rem;
}
.bg-dark-x { background: var(--dark-x);}
.form-control, button {
    min-height: 2.8rem;
    line-height: initial;
}
.font-weight-bold {
    font-weight: bold !important;
}
.h1 {
    font-size: 1.73rem;
}
.p1, .form-text {
    font-size: 0.9rem;
}
.img-1 {
    background-image: url(../assets/12.login.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
@media (min-width: 800px){
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
}
}